.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.header__profile {
  display: flex;
  flex-wrap: wrap;
}
.avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}
.paragraph {
  font-size: 1.5rem;
}
.name {
  margin-right: 2rem;
}
