.button {
  border: none;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
}
.blue {
  background: rgb(84, 84, 206);
  color: white;
}
.purple {
  background: rgb(119, 29, 115);
  color: white;
}
.grey {
  background: rgb(194, 194, 194);
  color: black;
}
